
.div{
	text-align: center;
	display: flex;
	justify-content: center;
}
.img{
	margin: auto;
    display: block;
    width: 90%;
	max-width: 850px;
	min-width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.click{
	cursor: pointer;
}




.menu { 
    display: flex; 
    flex-wrap: wrap; 
}

.menu > div { 
    background-color:#09F; 
    padding: 20px; 
    cursor: pointer;
    margin-left: 10px;
    border-radius: 30%;
    font-weight: bold;
    box-shadow: 0 3px 3px rgba(0,0,0,.4);
}

.menu > div:hover {
    background-color: #0CC;
    transform: scale(1.1); 
    box-sizing: border-box; 
    box-shadow: 1px 1px 1px 2px #333333;
}